<% content_for :title do %>
  Foodlog &ndash; <%= DateTime.now.to_s(:formated_date) %>
<% end %>

<div class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <span class="card-header-title"><%= entry.meal %></p>
        </header>
        <div class="card-content">
          <div class="content">
            <p><span class="has-text-weight-bold"><%= entry.meal_type %></span></p>
            <p><span class="has-text-weight-bold"><%= entry.calories %></span> calories </p>
            <p><span class="has-text-weight-bold"><%= entry.proteins %></span> grams proteins </p>
            <p><span class="has-text-weight-bold"><%= entry.carbohydrates %></span> grams carbohydrates </p>
            <p><span class="has-text-weight-bold"><%= entry.fats %></span> grams fats </p>
            <p class="italic"> Logged <%= time_ago_in_words(entry.created_at) %> ago </p>
          </div>
        </div>
        <footer class="card-footer">
          <%= link_to "Show", entry, class: "card-footer-item" %>
          <%= link_to "Edit", edit_entry_path(entry), class: "card-footer-item" %>
          <%= link_to "Destroy", entry, method: :delete, data: { confirm: "Are you sure?" }, class: "card-footer-item" %>
        </footer>
      </div>
    </div>
  <% end %>
</div>
