<% content_for :title do %>
    <%= @entry.meal %> &mdash; <%= @entry.created_at.to_s(:formated_date) %>
<% end %>
<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
  <nav class="panel is-link">
    <p class="panel-heading">
      <%= @entry.meal %>
    </p>
    <div class="panel-block">
      Meal Type: <%= @entry.meal_type %>
    </div>
    <div class="panel-block">
      Calories: <%= @entry.calories %>
    </div>
    <div class="panel-block">
      Proteins: <%= @entry.proteins %>
    </div>
    <div class="panel-block">
      Carbohydrates: <%= @entry.carbohydrates %>
    </div>
    <div class="panel-block">
      Fats: <%= @entry.fats %>
    </div>
  </nav>
  <div class="columns is-mobile">
    <div class="column">
      <%= link_to "Edit", edit_entry_path(@entry), class: "button is-success" %>
      <%= link_to "Delete", entry_path(@entry), method: :delete,
                                                data: { confirm: "Are you sure?" },
                                                class: "button is-danger" %>
    </div>
    <div class="column ">
    </div>
  </div>
  </div>
</div>
